NetBeansProjects/AcoesEE/build/*
NetBeansProjects/AcoesEE/dist/*
NetBeansProjects/AcoesEE/AcoesEE-war/dist/*
NetBeansProjects/AcoesEE/AcoesEE-war/build/*
NetBeansProjects/AcoesEE/AcoesEE-ejb/dist/*
NetBeansProjects/AcoesEE/AcoesEE-ejb/build/*
